.global{
    color: #8aca28;
    margin-bottom: 20px;
    text-align: center;
}
.title{
    margin-top:  10px; 
}
.gridCard{
    margin: 10px ;
    border-bottom: 10px solid yellow;


}
.heading{
    padding: 15px;
    background-color: #8aca28;
    color: #fff;
    font-size: 25px;
}
.chartContainer{
    width: 75%;
    margin-top: 20px;
}